:root {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-color: #fff !important;
    --swiper-pagination-bullet-inactive-color:#fff !important;
    --swiper-pagination-color:#fff !important;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-border-radius:0px;
    --swiper-navigation-size:14px;
}
@font-face {
    font-family:Optima;
    src: url('/assets/fonts/OPTIMA.TTF');
}
@font-face {
    font-family:Inter;
    src: url('/assets/fonts/Inter-Regular.ttf');
}

body{
    font-family: Optima;
    background-color: #F6F6F6;
    max-width: 1920px;
    margin: auto;
}
.font-secondary{
    font-family: Cotta;
}
picture img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 100%;
  }


/* announcment-bar */

.announcment-bar__text{
    font-family: Optima;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;    
}

@media (min-width:768px) {
    .announcment-bar__text{
        font-family: Optima;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.06em;
        text-align: center;    
    }
}




/* header */
.nav-search-input{
    max-width: 360px;
    border-radius: 8px;
    background: #F6F6F6 !important;
    margin: auto;
}
.nav-search-input input::placeholder{
    color: #B8B8B8;
    font-size: 16px;
}
.nav-search-input input{
    border: none;
    outline: none;
    background-color: #F6F6F6 !important;
    box-shadow: none !important;
    color: #B8B8B8;
    font-size: 16px;

}
.nav-search-input svg{
    height: 20px;
    width: 20px;
}
header .nav-link img{
    width: 20px;
    height: 20px;
}

.dropdown-menu.show{
    display: block !important;
    position: static !important;
    transform: unset !important;
}

@media (min-width: 768px) {  
    /* .dropdown:hover .dropdown-menu {
        display: block;
    } */
    .dropdown:hover .dropdown-menu {
        display: block;
        top: 95%; 
    }
  }  


.menu-links-with-icon{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.header-menu-links-lg-screen{
    border-top: 1px solid #C7C7C7
}


.header-menu-links-lg-screen li a{
    font-family: Optima LT Pro;
}




/* home-main-carousel */

.home-main-carousel_content{
    top: 0;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding:20px;
    height: 100%;
    width: 100%;
}
@media (min-width:650px) {
    .home-main-carousel_content{
        top: 0;
        color: #fff;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        padding:20px;
        height: 100%;
    }
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }



  /* icons-with-text-slider */
  .icons-with-text-slider{
    color: #fff;
  }






  /* home-video-section */
  .home-video-section video{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
  }




  /* home topSellingProducts */

  .topSellingProducts .swiper-slide img{
        aspect-ratio: 1;
        object-fit: contain;
  }


 

 



  .custom-navigation .swiper-button-next, .swiper-button-prev{
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: unset;
    position: relative; */
  }
  .custom-navigation .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
    border: 2px solid #D6D6D6;
    color: #D6D6D6;
    background-color: transparent;
  }



.categorySlider  img{
    width: 100%;
}


  /* home-collections-grid-section */

  .home-collections-grid-items-section1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .home-collections-grid-items-section2{
    display: none
  }

  .home-collections-grid-items-section1 img,.home-collections-grid-items-section2 img{
    width: 100%;
  }
  @media (min-width:992px) {
    .home-collections-grid-items-section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
      .home-collections-grid-items-section2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
      }
  }


  .newsletter-section input{
    color:#A1A1A1 !important;
    box-shadow: none !important;
    border:none;
    border-bottom:1px solid #A1A1A1 !important;
    padding-left: 0px !important;
}

.newsletter-section input::placeholder{
    color: #A1A1A1 !important;
}
.newsletter-section button{
    border:1px solid #A1A1A1 !important;
    background-color: #3E3E3E;
}

@media (max-width:768px) {
    .newsletter-section button{
        border-radius: 8px !important;
    }
}





/* shop-this-look-section */


.shop-this-look-section{
  background: linear-gradient(to bottom, white 50%, black 50%);
}















.nav-tabs{
    width: fit-content;
    border: none;
    border-bottom: 3px solid #CECECE;

}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    border: none;
}
.nav-tabs .nav-link{
    border: none;
    color: #282828;
    font-weight: 500;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2D2D2D !important;
    font-weight: 700;
}



/* reviewsSlider */
.reviewsSlider_border-top{
    border-top: 1px solid #C8C8C8;
}
.reviewsSlider img{
aspect-ratio: 1;
}

.reviewsSlider .card{
    border: none;
    border-radius: 18px;
}
   











/* footer-section */

.footer-section {
    background: #fff;
  }
  .footer-section_text {
    color: #686868;
    font-family: Optima;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
  }
  
  .footer-section_links_label {
    color: #2D2D2D;
    font-family: Optima;
        font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }
  .footer-section ul li {
    color: #686868;
    font-family: Optima;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 205%; /* 24.6px */
  }
  .footer-section_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-social-links {
    display: flex;
  }
  .footer-social-links li a {
    display: flex;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }
  .footer-social-links li svg {
    width: 26px;
  }
  
  .newsletter-form-input-group {
    border-radius: 8.728px;
    border: 0.97px solid #C1C1C1;
    padding: 5px;
  }
  
  .newsletter-form-input-group input {
    color: #B8B8B8 !important;
    font-family: Optima;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    box-shadow: none !important;
    outline: none;
    border: none;
  }
  .newsletter-form-input-group input::placeholder {
    color: #B8B8B8 !important;
    font-family: Optima;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
  }
  @media (min-width: 992px) {
    .footer-section_text {
      color: #686868;
      font-family: Optima;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
    }
  
    .footer-section_links_label {
      color: #2D2D2D;
      font-family: Optima;
        font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 30.8px */
    }
    .footer-section ul li {
      color: #686868;
      font-family: Optima;
    font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 247.5%; /* 49.5px */
    }
  }
  